//* We're using "section-archive-partners" because that's the body class added to this archive
.section-archive-partners {

	.after-entry, .archive-description,
	.author-box {
		background: transparent;
		padding: 0;
	}

	.entry.type-partners {
		padding: 0;
		border: 10px solid white;

		@media( max-width: 860px ) {
			margin-bottom: 10px;
		}
	}

	.single-partner-container {
		width: 100%;
		display: block;
		height: 125px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		position: relative;
		text-align: center;

		span.title {
			display: none;
			position: absolute;
			top: 50%;
			transform: translateY( -50% );
			left: 0;
			text-align: center;
			padding: 0 25px;
			line-height: 1.2em;
			width: 100%;
		}

		&.no-image {
			span.title {
				display: block;
			}
		}

		.popover-link {
			position: absolute;
			display: block;
			width: 100%;
			top: 50%;
			left: 0;
			text-align: center;
			transform: translateY( 50% );
			text-align: center;
			padding: 0;
			line-height: 1.2em;
			opacity: 0.01;
			transition: .3s transform ease, .3s opacity ease;
		}
	}

	.single-partner-container:hover {
		.popover-link {
			transform: translateY( -50% );
			opacity: 1;
		}
	}
}