.post-type-archive-partners {

	.site-inner {
		padding-bottom: 50px;
	}

	.clear {
		clear: both;
		width: 100%;
		float: none;
	}

	.entry-title {
		text-align: center;
	}

	.partner-name {
		font-size: 18px;
	}

	.partner-image-single {
		width: 230px;
		text-align: center;
		display: block;
	}

	.partner-image {
		margin-bottom: 10px;
		transition: .25s all ease;
		max-width: 100%;
		height: auto !important;
	}

	.entry {
		margin-bottom: 30px;
		padding: 0;
		text-align: center;
	}

	.entry:after {
		display: none;
	}

	article.partners > a {
		display: block;
		margin-bottom: 10px;
		text-align: center;

		img {
			margin-bottom: 0;

			@media( max-width: 767px ) {
				margin: 10px auto;
			}
		}

		@media( max-width: 1023px ) {
			br {
				display: none;
			}
		}
	}

	.entry-header {
		// margin-bottom: -30px;

		@media( max-width: 1023px ) {
			margin-bottom: 10px;
		}
	}
}